upstream blueGreen {
    #we could add if,else for other types of balancing
    ip_hash;

    {% for p in _app_ports %}
    server {{ p.HostIp }}:{{ p.HostPort }};
    {% endfor %}

server {
    listen       80;
    server_name  {{ app_nginx_hostnames | join(' ') }};

    access_log /var/log/nginx/blueGreen.access.log;
    error_log  /var/log/nginx/blueGreen.error.log;

    location ~* / {
        proxy_pass         http://blueGreen;
    }
}


events {}
http{
    upstream blueGreen {
        server {{ host_ip }}:{{ new_app_port }};
    }

    server {
        listen       80;
        server_name  {{ host_ip }};

        access_log /var/log/nginx/blueGreen.access.log;
        error_log  /var/log/nginx/blueGreen.error.log;

        location ~* / {
            proxy_pass       http://blueGreen;
        }
    }
}